.portfolio {
    padding-top: $section-heading;
    padding-bottom: $section-heading;
    background-color: white;

    .card{
        cursor: pointer;

        .card-body{
            height: 140px;
            border-top: 2px solid $section-color-alterernative;

        }
    }

    .card:hover{
        border: 1px solid #32a890;
        box-shadow: 1px 1px 4px grey;
    }
}