
.team{
    background-color: white;
    padding-top: $section-heading;
    padding-bottom: $section-heading;

    .team-image{
        border-radius: 50%;
        border: 5px solid $section-color-alterernative;
    }

    .team-social-media {
        color: black;
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        text-align: center;
        margin: 0.8rem 0.2rem 0.2rem 0.2rem;
    
        &:hover {
          text-decoration: none;
        }
      }
}
