$font-size-base: 1rem;
$primary: #fed136;
$section-color-alterernative: #f7f7f7;

$header-jumbotron-height: 200px;
$section-heading: 80px;
$page-menu-size: 175px;


@import "lib/bootstrap/scss/bootstrap";

.page-header{
    background-image: url("images/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.navbar-dark .navbar-brand {
    padding-top: 0.2rem;
    color: $primary;
    font-style: italic;
}

.header-jumbotron {
    background-color: transparent;
    color: white;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    height: $header-jumbotron-height;

    @include media-breakpoint-up(sm){
        height: $header-jumbotron-height + 50px;
    }

    @include media-breakpoint-up(md){
        height: $header-jumbotron-height + 100px;
    }

    @include media-breakpoint-up(lg){
        height: $header-jumbotron-height + 150px;
    }
    
    h2 {
        font-style: italic;
        margin-bottom: 0px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}


.team{
    background-color: white;
    padding-top: $section-heading;
    padding-bottom: $section-heading;

    .team-image{
        border-radius: 50%;
        border: 5px solid white;
    }

    .team-social-media {
        color: black;
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        text-align: center;
        margin: 0.8rem 0.2rem 0.2rem 0.2rem;
    
        &:hover {
          text-decoration: none;
        }
      }
}

.services {
    padding-top: $section-heading;
    padding-bottom: $section-heading;
    background-color: $section-color-alterernative;

        .service-icon{
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            padding-top: 0.25rem;
            border: 2px solid black;
            border-radius: 50%;
            text-align: center;
            color: black;
            margin: 0px auto 0.75rem auto;
        }
}

.resume{
    padding-top: $section-heading;
    padding-bottom: $section-heading;
    background-color: white;


    .resume-image{
        border-radius: 50%;
        border: 5px solid $section-color-alterernative;
    }


    .resume-list{
        @include media-breakpoint-up(md){
            background: linear-gradient(
                to right,
                white 0%,
                white calc(50% - 1px),
                $section-color-alterernative calc(50% - 1px),
                $section-color-alterernative calc(50% + 1px),
                white calc(50% + 1px),
                white 100%
            );
        }

        .row:last-child{
            background: white;
        }
    }

}

.portfolio {
    padding-top: $section-heading;
    padding-bottom: $section-heading;
    background-color: $section-color-alterernative;
}


.contact{
    color: white;
    background-color: #222222;
    padding-top: $section-heading;
    padding-bottom: $section-heading;

    .contact-message{
        height: 5rem;

        @include media-breakpoint-up(sm){
            height: 100%;
        }
    }
}

.footer {

    .footer-social-media {
        color: $primary;
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        text-align: center;
        margin: 0.4rem 0.2rem 0.2rem 0.2rem;
    
        &:hover {
          text-decoration: none;
        }
      }
}

/* Page Menu */

body{
    overflow-x: hidden;
}

#page {
    position: relative;
    left:0;
    transition: 1s all;
    transform: translate(0px, 0px);

    &.mobile-nav-opened {
        transform: translate(-$page-menu-size, 0px);
    }

    .mobile-nav {
        position: absolute;
        right:-$page-menu-size;
        width: $page-menu-size;
        top: 0px;
        bottom: 0px;
        background-color: $section-color-alterernative;

    }

    .mobile-nav-link{
        color: black;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        background-color: $section-color-alterernative;

        &:last-child{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &:first-child{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

}